.container {
    max-width: 70%;
    margin: auto;
}

.accordion-title {
    font-size: 2rem;

}

.accordion-item_img {
    max-width: 0;
    display: block;
    margin: auto;
    transition: 1s;
}

.accordion-item_input {
    appearance: none;
    height: 0;
    width: 0;
    display: none;
}

.accordion-item_trigger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accordion-content {
    width: 100%;
    
}